@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@font-face {
	font-family:'fontelogo';
	src: url("../fonts/bubblegum-sans-regular.otf");
}

body {
	background-color: #aac8ee;
	color: rgb(0, 0, 0);
	font-family: arial, sans-serif;
}

div#interface {
	width: 900px;
	background-color: rgb(155, 168, 206);
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0.5);
	padding: 10px 10px 10px 10px;
}

p {

	text-align: justify;
	text-indent: 50px;
	z-index
}


a {
	color: #FFFFFF;
	text-decoration: none;
}

a:houver {
	text-decoration: underline;
}

/*oculos*/

img#icone {
	position: relative;
	left: 640px;
	top: -30px;
	height: 45%;
	width: 20%;
}

header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 80px;

}

header#cabecalho h1 {
	font-family: 'fontelogo', sans-serif;
	font-size: 30pt;
	color: #000000;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	padding: 1px;
	margin-bottom: 0px;

}

header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;

}

/* formatação de imagens com legendas */






figure.foto-legenda img {

	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, .4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;

}

figure.foto-legenda:hover figcaption {
	opacity: 1;



}

figure.foto-legenda {

	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;

}

/* Formatação do menu */
nav#menu {
	display: absolute;
	position: relative;
	margin-top: -18%;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 300px;

}

nav#menu li {
	display: inline-block;
	background-color: #c7d1ec;
	padding: 10px;
	margin: 5px;
	transition: background-color 0.5s;

}

nav#menu li:hover {
	background-color: #3d2480;
}

nav#menu h1 {
	display: none;

}

nav#menu a {
	color: black;
	text-decoration: none;


}

nav#menu a:hover {

	color: rgb(250, 212, 0);
	text-decoration: none;
}

section#corpo {
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

article#noticia-principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #c7d1ec;
	padding: 5px opx 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
	font-family: 'fontelogo', sans-serif;
	font-size: 20pt;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 10px;
}

.direita {
	text-align: right;
}

header#cabecalho-artigo h2 {
	font-size: #cecece;
	margin: 0px;
}

header#cabecalho-artigo h3 {
	font-size: 12px;
	color: #ffffff;

}







table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td {
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;

}

table#tabelaspec td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;

}

table#tabelaspec td.cd {
	background-color: #cecece;

}

table#tabelaspec caption {
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaspec caption span {
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;

}

aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
	font-family: 'Fontelogo', sans-serif;
	font-size: 20pt;
	color: #000000;
	margin-top: 0px;
}

aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;

}

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;

}

footer#rodape p {
	text-align: center;

}

video#filme1 {
	display: block;
	position: relative;
	left: 20px;
	top: 5px;
	width: 330px;
}

video#filme {
	display: inline-block;
	position: relative;
	left: 0px;
	top: -60px;
	width: 500px;
	height: 400px;
}
